<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core"/>
  </configSections>
  <appSettings>
    <add key="NServiceBus/Outbox" value="true"/>
  </appSettings>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Shared" Endpoint="Samples.PubSub.MyPublisher"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <Logging Threshold="Debug" />
  <TransportConfig MaximumConcurrencyLevel="8" />
</configuration>
